<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpqVfoneM51oMEdJPYEZ50mtyh7l7RAmY</string>
	<key>GCM_SENDER_ID</key>
	<string>607521425281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TechConsulting.UberClone</string>
	<key>PROJECT_ID</key>
	<string>uberclone-c367b</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-c367b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607521425281:ios:d5c4fc66ce9b20664f0a80</string>
</dict>
</plist>